<div class="col-md-6">
  <h2 class="text-center">Add Skill</h2>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        [(ngModel)]="skill.name"
        placeholder="name"
        name="name"
        class="form-control"
        id="name"
      />
    </div>

    <div class="form-group">
      <label for="toc">TOC:</label>
      <input
        type="text"
        [(ngModel)]="skill.toc"
        placeholder="toc"
        name="toc"
        class="form-control"
        id="toc"
      />
    </div>


    <div class="form-group">
      <label for="prerequisites">Pre Requisites:</label>
      <input
        [(ngModel)]="skill.prerequisites"
        placeholder="Pre Requisites"
        name="prerequisites"
        class="form-control"
        id="prerequisites"
      />
    </div>

    <button class="btn btn-success" (click)="createSkill()">Create</button>
  </form>
</div>
